border-style: {
  margin: 0px;
	color: teal;
	background-color: silver;
	font-family: tahoma;
}

h1 {
	text-align: center;
	font-family: serif;
}

#header	{
	//background-color: silver;
	width: 100%;
	bottom: 110px;
}

#menu {
  position: absolute;
	left:10px;
	top:150px;
	//background-color: green;
	width: 120px;
	margin-left: 10px;
}

#content: {
	position: relative;
	left: 130px;
	margin-left: 10px;
	//background-color: blue;
	width: 85%;
}

#footer {
	//background-color: brown;
	width: 70%;
	position: relative;
	top: 20px; 
	left: 130px;
	margin-left: 10px;
	font-family: arial;
	font-size: 50%;
	text-align: center;
}

a {
	font-family:Georgia,serif; 
	font-size:large;
	text-decoration: none;
}

a:link {color:navyblue;}
a:visited {color: #660066;}
a:hover {text-decoration: none; color: #ff9900; font-weight:bold;}
a:active {color: red; text-decoration: none} 